section.logos-ordinary
  .site-container
    .logos-ordinary__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.logos-ordinary__title
            | Адаптация к методологии разработки
          .logos-ordinary__decs
            p
              | Независимо от методологии разработки ПО (итеративная, каскадная или гибкая), тестирование продукта может быть успешно инициировано на любом этапе. Используя собственный практический опыт и передовые практики индустрии, команда «Точка качества» легко адаптируется к текущим процессам заказчика.
            p
              | При этом мы уделяем повышенное внимание налаживанию прозрачных и контролируемых процессов для эффективного решения поставленных задач и достижения запланированных результатов.
          .logos-ordinary__items
            .logos-ordinary__item
              +imgLazy(src="assets/images/benefits-digits/1.svg" alt="")(class="logos-ordinary__item-img")
              .logos-ordinary__item-text
                | Agile
            .logos-ordinary__item
              +imgLazy(src="assets/images/benefits-digits/1.svg" alt="")(class="logos-ordinary__item-img")
              .logos-ordinary__item-text
                | Scrum
            .logos-ordinary__item
              +imgLazy(src="assets/images/benefits-digits/1.svg" alt="")(class="logos-ordinary__item-img")
              .logos-ordinary__item-text
                | Rup
