-
  menu = [
    {name: "Автоматизация тестирования", mod: ""},
    {name: "Аутсорсинг тестирования", mod: ""},
    {name: "Выделенная команда тестирования", mod: ""},
    {name: "QA для индустрий", mod: ""},
    {name: "Решения по качеству", mod: ""},
    {name: "виды тестирования", mod: ""},
  ]

section.intro(style="background-image: url('assets/images/intro/bg-img-2.png')")
  .site-container-2
    .intro__wrapper
      .section-inner
        .section-inner__left
          +fixed-menu-2("Услуги", menu)
        .section-inner__right
          .intro__inner
            h1.intro__title
              | Функциональное тестирование
            .intro__desc
              p Ручные и автоматизированные проверки программных продуктов
