-
  enumerationList = [
    {title: "На 100% выделенная команда", text: "Команда работает ТОЛЬКО на вашем проекте, а значит, полностью сконцентрирована на ваших целях и качестве вашего ПО"},
    {title: "Эффективное управление", text: "Команда работает ТОЛЬКО на вашем проекте, а значит, полностью сконцентрирована на ваших целях и качестве вашего ПО"},
    {title: "Полный контроль расходов", text: "Команда работает ТОЛЬКО на вашем проекте, а значит, полностью сконцентрирована на ваших целях и качестве вашего ПО"},
    {title: "Быстрое масштабирование", text: "Команда работает ТОЛЬКО на вашем проекте, а значит, полностью сконцентрирована на ваших целях и качестве вашего ПО"},
    {title: "Оценка качества и рекомендации", text: "Команда работает ТОЛЬКО на вашем проекте, а значит, полностью сконцентрирована на ваших целях и качестве вашего ПО"},
  ]

main.page-main.main
  +benefits-digits(false)
  +benefits-digits(false)(data-modif="\[\"white\"\]")
  +benefits-digits(true)
  include benefits-icons.pug
  include benefits-roster.pug
  +enumeration(enumerationList, "enumeration--white-bg", "Наша команда — ваше преимущество", false, false)
  +enumeration(enumerationList, "enumeration--white-bg", "Наша команда — ваше преимущество", false, false, true)
  include benefits-reverse.pug
