.button {
  display: inline-block;
  padding: 2.2rem 3rem;
  color: var(--color-grayscale-200);
  font: var(--font-button-1);
  text-transform: uppercase;
  background-color: var(--color-primary-medium-blue);
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition);

  &:hover {
    background-color: var(--color-primary-dark-blue);
  }

  &:focus {
    background-color: var(--color-primary-medium-blue);
    border: 0.2rem solid var(--color-primary-light-blue);
  }

  &:disabled {
    color: #6C6D80;
    background-color: #C2C2C2;
  }

  @include mq(lg) {
    padding: 1.2rem 1.6rem;
    font: var(--font-button-2);
  }

  @include mq("custom", max, 385) {
    padding: 0.8rem 1rem;
    font: var(--font-button-3);
  }

  &--lighter {
    background-color: var(--color-primary-light-blue);

    &:hover {
      background-color: #3332B9;
    }

    &:focus {
      background-color: var(--color-primary-light-blue);
      border: 0.2rem solid var(--color-primary-medium-blue);
    }
  }

  &--whiteBg {
    color: var(--color-primary-dark-blue);
    background-color: var(--color-grayscale-300);

    &:hover {
      color: var(--color-grayscale-100);
      background-color: #31353f;
    }

    &:focus {
      color: var(--color-primary-dark-blue);
      background-color: var(--color-grayscale-300);
    }
  }
}
