section.error-block
  .site-container
    .error-block__wrapper
      h1.error-block__title
        | 404
      .error-block__desc
        p
          | К сожалению, такой страницы  у нас не существует. Проверьте правильность ссылки или вернитесь на главную.
      a.error-block__button.button.button--lighter(href="#")
        | Вернуться на главную
