extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "Аккордеон"
	- const siteLang = "ru"

block content
	include pages/accordion/main.pug
