extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "Преимущества,перечисления и пр."
	- const siteLang = "ru"

block content
	include pages/benefits/main.pug
