extends layout/default.pug

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "Функциональное тестирование"
	- const siteLang = "ru"

block content
	include pages/functional-testing/main.pug
