extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "Логотипы"
	- const siteLang = "ru"

block content
	include pages/logos/main.pug
