extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--dark-bg js-animation-appearance"
	- const pageTitle = "Главная"
	- const siteLang = "ru"

block content
	include pages/main/main.pug
