extends layout/default.pug

block variables
	- const bodyClass = "page-home body--white-header"
	- const pageTitle = "Портфолио"
	- const siteLang = "ru"

block content
	include pages/portfolio/main.pug
