extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "С текстом"
	- const siteLang = "ru"

block content
	include pages/with-text/main.pug
