extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "С формой"
	- const siteLang = "ru"

block content
	include pages/with-form/main.pug
