extends layout/default.pug

block variables
	- const bodyClass = "body page-home body--white-header"
	- const pageTitle = "С карточками"
	- const siteLang = "ru"

block content
	include pages/with-cards/main.pug
