section.geography
  .site-container-2
    .geography__bg-img(style="background-image: url('assets/images/geography/bg-img.png')")
    .geography__wrapper
      h2.geography__title
        | География <br> присутствия
      .geography__box
        .geography__box-text
          | «Точка качества» реализует проекты во всех регионах России. Имеет филиалы в России и в Белоруссии
        a.geography__box-btn.button.button--whiteBg(href="#")
          | Смотреть контакты
