mixin enumeration(list, sectionMod, title, subtitle, linkButton, desc)
  section.enumeration(class=`${sectionMod ? sectionMod : ''}`)
    .site-container-2
      .section-inner
        .section-inner__left

          if subtitle
            .enumeration__subtitle
              | Наши Услуги

        .section-inner__right
          .enumeration__wrapper
            h2.enumeration__title= title

            if desc
              .enumeration__desc
                p
                  | Различные схемы взаимодействия, в зависимости от места проведения тестирования:

            .enumeration__items
              each i in list
                .enumeration__item
                  .enumeration__item-number
                  a.enumeration__item-title(href="#")= i.title

                  if i.imgUrl
                    .enumeration__item-img-wrapper
                      +imgLazy(i.imgUrl, "Изображение")(class="enumeration__item-img")

                  .enumeration__item-text
                    p= i.text
            if linkButton
              a.enumeration__button.button-with-arrow(href="#")
                  | Все услуги
