mixin slider-nav(classes)
  .slider-nav(class= classes)&attributes(attributes)
    button.slider-nav__prev
      +icon-mono("arrow-left")(class="slider-nav__icon" width="11px" height="22px")
    button.slider-nav__next
      +icon-mono("arrow-left")(class="slider-nav__icon" width="11px" height="22px")
