main.page-main.main
  +dispatch-form(data-modif="\[\"white\"\]" data-non-fixed="\[\"menu\"\]")
  +dispatch-form(data-wrapper="\[\"Y\"\]" data-non-fixed="\[\"menu\"\]")
  +with-form-subscription(true, false)
  +with-form-subscription(false, true)
