-
  menu1 = [
    {name: "Москва", mod: "fixed-menu__item-link--active js-tab-btn"},
    {name: "Санкт-петербург", mod: "js-tab-btn"},
    {name: "Рязань", mod: "js-tab-btn"},
    {name: "Минск", mod: "js-tab-btn"}
  ]

section.contacts.js-init-tabs.page-cases(data-sticky-container)
  .site-container-2
    .section-inner
      .section-inner__left
        +fixed-menu("Контакты", menu1, false, "fixed-menu--white-bg fixed-menu--dark js-sticky")
      .section-inner__right
        .contacts__wrapper.js-tab-body
          h2.contacts__title
            | г. Москва
          .contacts__inner
            .contacts__address
              .contacts__address-box
                span.contacts__address-box-title
                  | Юридический адрес для корреспонденции:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
              .contacts__address-box
                span.contacts__address-box-title
                  | Адрес офиса:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
            .contacts__contacts
              .contacts__contacts-box
                a.contacts__contacts-box-telephone(href="tel:+74956408938")
                  | +7 495 640-89-38
                a.contacts__contacts-box-email(href="mailto:info@tkqa.ru")
                  | info@tkqa.ru
              .contacts__contacts-box
                +socials
          .contacts__map
            .contacts__map-element.js-map(data-api="Ваш API ключ" data-initial-longitude="55.828123" data-initial-latitude="37.453138" data-initial-zoom="16" data-image="assets/images/label.svg")
        .contacts__wrapper.js-tab-body
          h2.contacts__title
            | г. Санкт-петербург
          .contacts__inner
            .contacts__address
              .contacts__address-box
                span.contacts__address-box-title
                  | Юридический адрес для корреспонденции:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
              .contacts__address-box
                span.contacts__address-box-title
                  | Адрес офиса:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
            .contacts__contacts
              .contacts__contacts-box
                a.contacts__contacts-box-telephone(href="tel:+74956408938")
                  | +7 495 640-89-38
                a.contacts__contacts-box-email(href="mailto:info@tkqa.ru")
                  | info@tkqa.ru
              .contacts__contacts-box
                +socials
          .contacts__map
            .contacts__map-element.js-map(data-api="Ваш API ключ" data-initial-longitude="55.828123" data-initial-latitude="36.453" data-initial-zoom="16" data-image="assets/images/label.svg")
        .contacts__wrapper.js-tab-body
          h2.contacts__title
            | г. Рязань
          .contacts__inner
            .contacts__address
              .contacts__address-box
                span.contacts__address-box-title
                  | Юридический адрес для корреспонденции:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
              .contacts__address-box
                span.contacts__address-box-title
                  | Адрес офиса:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
            .contacts__contacts
              .contacts__contacts-box
                a.contacts__contacts-box-telephone(href="tel:+74956408938")
                  | +7 495 640-89-38
                a.contacts__contacts-box-email(href="mailto:info@tkqa.ru")
                  | info@tkqa.ru
              .contacts__contacts-box
                +socials
          .contacts__map
            .contacts__map-element.js-map(data-api="Ваш API ключ" data-initial-longitude="55.828123" data-initial-latitude="37.453138" data-initial-zoom="16" data-image="assets/images/label.svg")
        .contacts__wrapper.js-tab-body
          h2.contacts__title
            | г. Рязань
          .contacts__inner
            .contacts__address
              .contacts__address-box
                span.contacts__address-box-title
                  | Юридический адрес для корреспонденции:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
              .contacts__address-box
                span.contacts__address-box-title
                  | Адрес офиса:
                .contacts__address-box-text
                  | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
            .contacts__contacts
              .contacts__contacts-box
                a.contacts__contacts-box-telephone(href="tel:+74956408938")
                  | +7 495 640-89-38
                a.contacts__contacts-box-email(href="mailto:info@tkqa.ru")
                  | info@tkqa.ru
              .contacts__contacts-box
                +socials
          .contacts__map
            .contacts__map-element.js-map(data-api="Ваш API ключ" data-initial-longitude="55.828123" data-initial-latitude="37.453138" data-initial-zoom="16" data-image="assets/images/label.svg")

