section.link-list
  .site-container
    h2.link-list__title
      | Страницы:
    .link-list__inner
      a.button.button--lighter(href="./all.html" target="_blank")
        | Всё сразу
      a.button.button--lighter(href="./main.html" target="_blank")
        | Главная страница
      a.button.button--lighter(href="./first-screen.html" target="_blank")
        | 1. Первый экран
      a.button.button--lighter(href="./with-text.html" target="_blank")
        | 2. C тектом
      a.button.button--lighter(href="./logos.html" target="_blank")
        | 3. Логотипы
      a.button.button--lighter(href="./benefits.html" target="_blank")
        | 4. Преимущества, перечисления и пр.
      a.button.button--lighter(href="./stages.html" target="_blank")
        | 5. Этапы и пр.
      a.button.button--lighter(href="./accordion.html" target="_blank")
        | 6. Аккордеон
      a.button.button--lighter(href="./contacts.html" target="_blank")
        | 7. Контакты
      a.button.button--lighter(href="./with-cards.html" target="_blank")
        | 8. С карточками
      a.button.button--lighter(href="./with-slider.html" target="_blank")
        | 9. Со слайдером
      a.button.button--lighter(href="./with-form.html" target="_blank")
        | 10. С формой
      a.button.button--lighter(href="./error.html" target="_blank")
        | 404 страница
      a.button.button--lighter(href="./functional-testing.html" target="_blank")
        | Функциональное тестирование
      a.button.button--lighter(href="./portfolio.html" target="_blank")
        | Портфолио
