footer.footer
  .site-container
    .footer__wrapper
      .footer__col
        a.footer__logo.logo(href="/")
          img.logo__img(src="assets/images/logo.svg" alt="Логотип компании")
      .footer__col
        .footer__box
          span.footer__box-title
           | Услуги тестирования
          ul.footer__box-list
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Автоматизация тестирования
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Аутсорсинг тестирования
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Выделенная команда тестирования
        .footer__box
          span.footer__box-title
           | Виды тестирования
          ul.footer__box-list
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Функциональное тестирование
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Интеграционное тестирование
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование безопасности
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование производительности
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование совместимости
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Юзабилити тестирование
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование микросервисов
      .footer__col
        .footer__box
          span.footer__box-title
           | Решения по качеству
          ul.footer__box-list
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Консалтинг
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Полный цикл тестирования
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование миграции
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование в Agile
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование веб-приложений
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Тестирование мобильных приложений
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Непрерывная доставка и тестирование
        .footer__box
          span.footer__box-title
           | QA для индустрий
          ul.footer__box-list
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Телеком
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Банки и финансы
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Ритейл
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Информационные технологии
      .footer__col
        .footer__box
          span.footer__box-title
           | Компания
          ul.footer__box-list
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | О нас
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Клиенты
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Принципы сотрудничества
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Процессы
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Портфолио
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Инфо-центр
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Карьера
            li.footer__box-list-item
              a.footer__box-list-link(href="/")
                | Контакты
        .footer__contacts
          a.footer__contacts-telephone(href="tel:+74956408938")
            | +7 495 640-89-38
          a.footer__contacts-email(href="mailto:info@tkqa.ru")
            | info@tkqa.ru
          .footer__contacts-address
            | Москва, ул. Свободы, 8/4, стр. 2, пом. 3Н, к. 4.
          +socials
    .footer__info
      .footer__info-col
        .footer__info-law
          | © 2022–2023 «Точка качества» <br>
          | Все права защищены
      .footer__info-col
        a.footer__info-link(href="/")
          | Правовая информация

