.main-menu
  .site-container
    .main-menu__wrapper.js-menu-tabs
      .main-menu__top
        a.main-menu__logo.logo(href="#" tabindex="-1")
          img.main-menu__logo.logo__img(src="assets/images/logo--dark.svg" alt="Логотип компании")
        .main-menu__burger
          span.main-menu__burger-line
          span.main-menu__burger-line
      ul.main-menu__list.js-menu-accordions.active(data-group="root")
        li.main-menu__list-item.js-accordion
          .main-menu__list-item-box
            a.main-menu__list-link(href="#" tabindex="-1")
              | Услуги
            button.main-menu__list-btn.js-accordion-btn1
              +icon-multi("two-arrow-down")(width="10px" height="11px" tabindex="-1")
          ul.main-menu__second-list.js-accordion-content
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Автоматизация тестирования
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Аутсорсинг тестирования
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Выделенная команда тестирования
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | QA для индустрий
            li.main-menu__second-list-item
              a.main-menu__second-list-link.menu__nav-button(href="#" data-group="2" tabindex="-1")
                | Решения по качеству
            li.main-menu__second-list-item
              span.main-menu__second-list-link.menu__nav-button(data-group="1" tabindex="-1")
                | Виды тестирования
        li.main-menu__list-item
          a.main-menu__list-link(href="#" tabindex="-1")
            | Портфолио
        li.main-menu__list-item.js-accordion
          .main-menu__list-item-box
            a.main-menu__list-link(href="#" tabindex="-1")
              | Компания
            button.main-menu__list-btn.js-accordion-btn1
              +icon-multi("two-arrow-down")(width="10px" height="11px" tabindex="-1")
          ul.main-menu__second-list.js-accordion-content
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Автоматизация тестирования
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Аутсорсинг тестирования
            li.main-menu__second-list-item
              a.main-menu__second-list-link(href="#" tabindex="-1")
                | Выделенная команда тестирования
        li.main-menu__list-item
          a.main-menu__list-link(href="#" tabindex="-1")
            | Инфоцентр
        li.main-menu__list-item
          a.main-menu__list-link(href="#" tabindex="-1")
            | Карьера
        li.main-menu__list-item
          a.main-menu__list-link(href="#" tabindex="-1")
            | Контакты

      ul.main-menu__list.main-menu__list--additional(data-group="1")
        li.main-menu__second-list-item.main-menu__second-list-item-back
          button.main-menu__second-list-item-back-btn.menu__nav-button(type="button" data-group="root" tabindex="-1")
          button.main-menu__second-list-item-back-btn.menu__nav-button(type="button" data-group="root" tabindex="-1")
             +icon-multi("arrow-back")(width="31px" height="8px")
        li.main-menu__second-list-item.main-menu__second-list-item-title
          | Виды тестирования
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Функциональное
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Интеграционное
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Тестирование безопасности
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Тестирование производительности
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Тестирование совместимости
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Юзабилити тестирование
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Тестирование микросервисов

      ul.main-menu__list.main-menu__list--additional(data-group="2")
        li.main-menu__second-list-item.main-menu__second-list-item-back
          button.main-menu__second-list-item-back-btn.menu__nav-button(type="button" data-group="root" tabindex="-1")
          button.main-menu__second-list-item-back-btn.menu__nav-button(type="button" data-group="root" tabindex="-1")
             +icon-multi("arrow-back")(width="31px" height="8px")
        li.main-menu__second-list-item.main-menu__second-list-item-title
          | Виды тестировwegggggggggg
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | 1234 Функциональное
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            |  1234 13Интеграционное
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | 342324Тестирование безопасности
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | 1234235Тестирование производительности
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | 235235Тестирование совместимости
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Юзабилити тестирование
        li.main-menu__second-list-item
          a.main-menu__second-list-link(href="#" tabindex="-1")
            | Тестирование микросервисов
      button.main-menu__btn.button.button--lighter(data-path="modal-callback" tabindex="-1")
          | Связаться
