section.with-cards-simple
  .site-container-2
    .with-cards-simple__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          .with-cards-simple__items
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников Делимся опытом на MWC Barcelona 2022: Точка качества среди участников Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников Точка качества среди участников Делимся опытом на MWC Barcelona 2022: Точка качества среди участников Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
            .with-cards-simple__item
              .with-cards-simple__item-img-wrapper
                +imgLazy("assets/images/main-blogs/1.jpg")(class="with-cards-simple__item-img")
              .with-cards-simple__item-info
                .with-cards-simple__item-box
                  span.with-cards-simple__item-box-tag
                    | Новости
                  .with-cards-simple__item-box-date
                    | 31 марта 2022
                a.with-cards-simple__item-link(href="#")
                  | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
          button.with-cards-simple__btn.button-with-arrow.button-with-arrow--white-bg(type="button")
            | Показать ещё
