section.with-cards-graphic
  .site-container
    .with-cards-graphic__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          .with-cards-graphic__items
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/book-icon.svg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Тенденции обеспечения качества
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/book-icon.svg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
                  .with-cards-graphic__item-list-elem
                    | Интервью
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/cover.jpg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Интервью
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/book-icon.svg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Интервью
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/docum.jpg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
            .with-cards-graphic__item
              .with-cards-graphic__item-list-container
                .with-cards-graphic__item-list
                  .with-cards-graphic__item-list-elem
                    | Интервью
              .with-cards-graphic__item-img-wrapper
                img(class="lazyload" data-src="assets/images/with-cards-graphic/book-icon.svg" src="assets/images/with-cards-graphic/book-icon.svg" alt="")(class="with-cards-graphic__item-img")
              h3.with-cards-graphic__item-title
                | Повышение надёжности корпоративной ERP-системы путём обновления версии СУБД
              button(class="with-cards-graphic__item-button button-with-arrow button-with-arrow--white-bg" type="button" data-path="modal-request")
                | ИЗУЧИТЬ МАТЕРИАЛ #[span]
