main.page-main.main
  include stages-row.pug
  include stages-col.pug
  include stages-table.pug
  include stages-models.pug
  include stages-pile.pug
  include stages-arrow.pug
  include stages-ladder.pug
