section.stages-models
  .site-container
    .stages-models__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.stages-models__title
            | Гибкая ценовая политика
          .stages-models__desc
            p
              | В зависимости от специфики проекта, мы предлагаем следующие ценовые модели:
          .stages-models__items.js-accordions-stages-models
            .stages-models__item.js-accordion
              .stages-models__item-box-wrapper.js-accordion-content
                .stages-models__item-box
                  .stages-models__item-box-desc
                    | Небольшие и средние проекты с чёткими границами, установленными методологиями и устойчивым набором требований, которые не будут меняться в течение проекта
                  ul.stages-models__item-box-list
                    li
                      | Требования и объём проекта определены заранее
                    li
                      | Любые изменения требуют пересмотра сроков и бюджета проект
                    li
                      | Фиксированные стоимость и продолжительность проекта
                    li
                      | Поэтапная оплата
              .stages-models__icon
                +icon-mono('arrow-down-2')(width="19px" height="22px")
              .stages-models__info.js-accordion-btn
                .stages-models__info-img-info
                  +imgLazy("assets/images/stages-models/subtract.png", "")(class="stages-models__info-img")
                .stages-models__info-title
                  | Фиксированная цена
                .stages-models__info-arrow
            .stages-models__item.js-accordion
              .stages-models__item-box-wrapper.js-accordion-content
                .stages-models__item-box
                  .stages-models__item-box-desc
                    | Проекты с несформированными требованиями или в случае, когда невозможно определить риски на ранних этапах проекта
                  ul.stages-models__item-box-list
                    li
                      | Стоимость рассчитывается из фактических трудозатрат
                    li
                      | Требования определяются в процессе работы
                    li
                      | Допустимы любые изменения на проекте
                    li
                      | Поэтапная оплата
              .stages-models__icon
                +icon-mono('arrow-down-2')(width="19px" height="22px")
              .stages-models__info.js-accordion-btn
                .stages-models__info-img-info
                  +imgLazy("assets/images/stages-models/subtract.png", "")(class="stages-models__info-img")
                .stages-models__info-title
                  | Оплата по факту
                .stages-models__info-arrow
            .stages-models__item.js-accordion
              .stages-models__item-box-wrapper.js-accordion-content
                .stages-models__item-box
                  .stages-models__item-box-desc
                    | Долгосрочные проекты с нечеткими требованиями и частыми изменениями границ, а также при параллельно идущих проектах, для которых может потребоваться перемещение ресурсов
                  ul.stages-models__item-box-list
                    li
                      | Определяется идея проекта и основные требования
                    li
                      | Команда гибко подстраивается под любые изменени
                    li
                      | Сохранение знаний и полный контроль работы команды
                    li
                      | Стоимость работы команды определена и оплачивается ежемесячно
              .stages-models__icon
                +icon-mono('arrow-down-2')(width="19px" height="22px")
              .stages-models__info.js-accordion-btn
                .stages-models__info-img-info
                  +imgLazy("assets/images/stages-models/subtract.png", "")(class="stages-models__info-img")
                .stages-models__info-title
                  | Выделенная команда
                .stages-models__info-arrow

