section.stages-row
  .site-container
    .stages-row__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.stages-row__title
            | Как проходит работа <br> с выделенной командой <br> «Точка качества»?
          ul.stages-row__items
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #7271EF")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Подготовка
                  .stages-row__item-text
                    | Получаем от вас описание требований к команде, производится постановка задачи
                .stages-row__item-die
                  .stages-row__item-die-title
                    | предоставляем
                  ul.stages-row__item-die-list
                    li.stages-row__item-die-list-item
                      | Анализ требований
                    li.stages-row__item-die-list-item
                      | Сопоставление экспертизы
                    li.stages-row__item-die-list-item
                      | Выбор кандидатов
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #A76DE0")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Внедрение
                  .stages-row__item-text
                    | Вы утверждаете кандидатов и передаёте знания
                .stages-row__item-die
                  .stages-row__item-die-title
                    | предоставляем
                  ul.stages-row__item-die-list
                    li.stages-row__item-die-list-item
                      | Погружение в проект
                    li.stages-row__item-die-list-item
                      | Настройка окружения
                    li.stages-row__item-die-list-item
                      | Адаптация процессов
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #FF5281")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Реализация
                  .stages-row__item-text
                    | Получаете результат и контролируете KPI
                .stages-row__item-die
                  .stages-row__item-die-title
                    | предоставляем
                  ul.stages-row__item-die-list
                    li.stages-row__item-die-list-item
                      | Выполнение работ
                    li.stages-row__item-die-list-item
                      | Оптимизация производительности
                    li.stages-row__item-die-list-item
                      | Корректировка размера команды


