section.stages-pile
  .site-container-2
    .stages-pile__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.stages-pile__title
            | Заголовок
          .stages-pile__items.js-accordions-stages-pile
            .stages-pile__item.js-accordion
              .stages-pile__item-box.js-accordion-btn-pile
                .stages-pile__item-box-img-wrapper
                  +imgLazy("assets/images/stages-pile/basket.svg")(class="stages-pile__item-box-img")
                .stages-pile__item-box-title
                  | Развивать сферу quality assurance
                .stages-pile__item-box-arrow
              .stages-pile__item-text-wrapper.js-accordion-content
                .stages-pile__item-text
                  p
                    | Наша цель – показать важность и повысить ценность независимого QA, потому что нам не безразлична репутация сервиса, который мы предоставляем.
                  p
                    | Мы создаём инновационные методики и способствуем развитию инструментов тестирования для новых сфер бизнеса. Нашим клиентам мы помогаем оценить качество не только продукта, но и внутренних процессов, и их специалистов по тестированию ПО
            .stages-pile__item.js-accordion
              .stages-pile__item-box.js-accordion-btn-pile
                .stages-pile__item-box-img-wrapper
                  +imgLazy("assets/images/stages-pile/basket.svg")(class="stages-pile__item-box-img")
                .stages-pile__item-box-title
                  | Приносить пользу нашим клиентам
                .stages-pile__item-box-arrow
              .stages-pile__item-text-wrapper.js-accordion-content
                .stages-pile__item-text
                  p
                    | Выполняя нашу работу, мы стремимся сфокусироваться не на букве контракта, а на клиенте как человеке, клиенте как продукте, клиенте как компании. Нам важно, какие цели преследует наш клиент, и мы стремимся помочь ему в их достижении
            .stages-pile__item.js-accordion
              .stages-pile__item-box.js-accordion-btn-pile
                .stages-pile__item-box-img-wrapper
                  +imgLazy("assets/images/stages-pile/basket.svg")(class="stages-pile__item-box-img")
                .stages-pile__item-box-title
                  | Обучать людей новой профессии
                .stages-pile__item-box-arrow
              .stages-pile__item-text-wrapper.js-accordion-content
                .stages-pile__item-text
                  p
                    | Мы не нанимаем готовых специалистов на рынке труда, а обучаем кандидатов без опыта работы в своём учебном центре.
                  p
                    | Мы создаём новые рабочие места и даём возможность получить работу в перспективной сфере, а также приобрести ценный практический опыт


