section.stages-ladder
  .site-container-2
    .stages-ladder__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.stages-ladder__title
            | Направления развития
          .stages-ladder__inner.js-tabs-ladder-slider
            .stages-ladder__btns
              .swiper-wrapper
                .swiper-slide
                  .stages-ladder__btn
                    | Проектное направление
                .swiper-slide
                  .stages-ladder__btn
                    | Работа с талантами
                .swiper-slide
                  .stages-ladder__btn
                    | Техническое направление
            .stages-ladder__contents
              .swiper-wrapper
                .swiper-slide
                  .stages-ladder__content
                    .stages-ladder__items
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | ИНЖЕНЕР ПО ТЕСТИРОВАНИЮ
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки.
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | ЛИДЕР ГРУППЫ ТЕСТИРОВАНИЯ
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Управляя проектом, помимо непосредственно тестирования ПО продукта, распределяет нагрузку в команде, следит за соблюдением сроков выполнения работы.
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | РУКОВОДИТЕЛЬ ПРОЕКТА
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Взаимодействует с клиентом, контролирует важные процессы в проекте и делает всё, чтобы работа шла максимально качественно и быстро.
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | КООРДИНАТОР ПРОЕКТА
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Несет ответственность за результат и презентует его заказчику.
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | МЕНЕДЖЕР ПО СТРАТЕГИЧЕСКОМУ РАЗВИТИЮ
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Его задача ― добиться соответствия полученных результатов ожиданиям клиента.
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                .swiper-slide
                  .stages-ladder__content
                    .stages-ladder__items
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки обеспечением, проверяет корректность выполненных задач, фиксирует ошибки
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки  С этой позиции начинается карьера в тестировании. Сотрудник работает с программным обеспечением, проверяет корректность выполненных задач, фиксирует ошибки
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                .swiper-slide
                  ul.stages-ladder__list
                    li.stages-ladder__list-item
                      | Функциональное тестирование
                    li.stages-ladder__list-item
                      | Юзабилити-тестирование
                    li.stages-ladder__list-item
                      | Автоматизация тестирования
                    li.stages-ladder__list-item
                      | Тестировщик производительности
                  .stages-ladder__content
                    .stages-ladder__items
                      .stages-ladder__item.is-active
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | После курсов
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Опыт от 2 лет
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Может всё!
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
                      .stages-ladder__item
                        .stages-ladder__item-title
                          | Инженер по тестированию
                        .stages-ladder__item-text-wrapper
                          .stages-ladder__item-text
                            | Маг и наставник!
                        .stages-ladder__item-img-wrapper
                          +imgLazy(src="assets/images/stages-ladder/1.jpg")(class="stages-ladder__item-img")
                        .stages-ladder__item-line
                        .stages-ladder__item-line-2
