section.stages-row.stages-row--col
  .site-container
    .stages-row__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.stages-row__title
            | Как проходит работа с выделенной <br> командой «Точка качества»?
          ul.stages-row__items
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #7271EF")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Планирование
                  .stages-row__item-text
                    | На этом этапе определяются <a href="#">функциональные</a> и бизнес-требования к продукту, тестировщики составляют подробный план анализа, определяют методики проверки.
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #8A71EF")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Анализ данных
                  .stages-row__item-text
                    | Изучение технических требований, разработка и согласование тест-кейсов, определение сроков тестирования.
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #A66DE0")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Проведение тестирования
                  .stages-row__item-text
                    | Получаете результат и контролируете KPI
                  .stages-row__item-text
                    | На основе полученных данных реализуются тестовые сценарии, в ходе которых выявляются и фиксируются ошибки в работе приложения.
                  .stages-row__item-text
                    | Для получения полной картины о работе продукта мы используем 3 метода тестирования:
                  h4.stages-row__item-subtitle
                    | Ручное тестирование
                  .stages-row__item-text
                    | Подготовка и проведение тестов в ручном режиме.
                  h4.stages-row__item-subtitle
                    | Автоматизированное
                  .stages-row__item-text
                    | Разработка, запуск и поддержка автотестов.
                  h4.stages-row__item-subtitle
                    | Исследовательское
                  .stages-row__item-text
                    | Комплексное изучение продукта и выявление дефектов за пределами требований.
            li.stages-row__item
              .stages-row__item-number-wrapper
                .stages-row__item-number(style="background-color: #FF5281")
              .stages-row__item-inner
                .stages-row__item-box
                  h3.stages-row__item-title
                    | Составление отчёта
                  .stages-row__item-text
                    | На основе данных анализа и глубокой проверки системы qa-инженеры составляют отчёт о тестировании, в котором фиксируются все ошибки и предоставляются рекомендации по их исправлению.


