section.main-shield
  .site-container
    .main-shield__wrapper
      .main-shield__img
      .section-inner
        .section-inner__left
        .section-inner__right
          .main-shield__inner
            .main-shield__info
              h2.main-shield__title
                | Поможем при переходе на российское ПО —
              .main-shield__desc
                p
                  | убедимся, что при замене привычных компонентов системы ваше ПО и бизнес-процессы продолжат работать корректно
            a.main-shield__btn.button-with-arrow(href="#")
              | Подробнее
