section.main-blogs
  .site-container
    .main-blogs__wrapper
      .section-inner
        .section-inner__left
          span.main-blogs__subtitle
            | Инфоцентр
        .section-inner__right
          h2.main-blogs__title
            | Новости и блог
      .main-blogs__inner
        .main-blogs__item.main-blogs__item--big
          .main-blogs__item-img-wrapper
            +imgLazy("assets/images/main-blogs/1.jpg")(class="main-blogs__item-img")
          .main-blogs__item-info
            .main-blogs__item-box
              span.main-blogs__item-box-tag
                | Новости
              .main-blogs__item-box-date
                | 31 марта 2022
            a.main-blogs__item-link(href="#")
              | Делимся опытом на MWC Barcelona 2022: Точка качества среди участников
        ul.main-blogs__list
          li.main-blogs__list-item
            .main-blogs__item.main-blogs__item--small
              .main-blogs__item-img-wrapper
                +imgLazy("assets/images/main-blogs/2.jpg")(class="main-blogs__item-img")
              .main-blogs__item-info
                .main-blogs__item-box
                  span.main-blogs__item-box-tag
                    | Новости
                  .main-blogs__item-box-date
                    | 31 марта 2022
                a.main-blogs__item-link(href="#")
                  | Сценарий контроля качества для представления 6 тенденций электронной коммерции в 2021 году
          li.main-blogs__list-item
            .main-blogs__item.main-blogs__item--small
              .main-blogs__item-img-wrapper
                +imgLazy("assets/images/main-blogs/3.jpg")(class="main-blogs__item-img")
              .main-blogs__item-info
                .main-blogs__item-box
                  span.main-blogs__item-box-tag
                    | Новости
                  .main-blogs__item-box-date
                    | 31 марта 2022
                a.main-blogs__item-link(href="#")
                  | Сценарий контроля качества для представления 6 тенденций электронной коммерции в 2021 году
          li.main-blogs__list-item
            .main-blogs__item.main-blogs__item--small
              .main-blogs__item-img-wrapper
                +imgLazy("assets/images/main-blogs/4.jpg")(class="main-blogs__item-img")
              .main-blogs__item-info
                .main-blogs__item-box
                  span.main-blogs__item-box-tag
                    | Новости
                  .main-blogs__item-box-date
                    | 31 марта 2022
                a.main-blogs__item-link(href="#")
                  | Сценарий контроля качества для представления 6 тенденций электронной коммерции в 2021 году
      a.main-blogs__link.button-with-arrow.button-with-arrow--white-bg(href="#")
        | Читать все
