section.main-progress
  .site-container-2
    .main-progress__wrapper
      .main-progress__title-wrapper
        h2.main-progress__title
          | Наши достижения <br> в ИТ-индустрии
      .main-progress__tabs
        .main-progress__btns
          .main-progress__btn.main-progress__btn--active(data-btn="1")
            +imgLazy(`assets/images/main-progress/0.svg`)(class="main-progress__btn-img")
          .main-progress__btn.main-progress__btn--img-big(data-btn="2")
            +imgLazy(`assets/images/main-progress/img-1.jpg`)(class="main-progress__btn-img")
          .main-progress__btn(data-btn="3")
            +imgLazy(`assets/images/main-progress/2.svg`)(class="main-progress__btn-img")
          .main-progress__btn.main-progress__btn--img-big(data-btn="4")
            +imgLazy(`assets/images/main-progress/img-2.jpg`)(class="main-progress__btn-img")
          .main-progress__btn(data-btn="5")
            +imgLazy(`assets/images/main-progress/4.svg`)(class="main-progress__btn-img")
          .main-progress__btn.main-progress__btn--img-big(data-btn="4")
            +imgLazy(`assets/images/main-progress/img-3.jpg`)(class="main-progress__btn-img")
        .main-progress__contents
          .main-progress__content.main-progress__content--active(data-content="1")
            span.main-progress__content-title
              | Tadviser 1
            p.main-progress__content-text
              | Мировой лидер в сфере ИТ-исследований и консалтинга — включил бренд «Точка качества» в тройку лидеров рейтинга 10 лучшихмировых провайдеров услуг по тестированию, работающих в различных индустриях. Мы высоко ценим признание нашей компании одним из ведущих мировых аналитических агентств. Тестирование программного обеспечения — основное направление работы «Технологий качества», в области которого компания продолжает расширять свои компетенции.
          .main-progress__content(data-content="2")
            .main-progress__content-img-box
              +imgLazy('assets/images/main-progress/img-1.jpg')(class="main-progress__content-img")
            span.main-progress__content-title
              | Tadviser 2
            p.main-progress__content-text
              a(href="#")
                | - Крупнейшие поставщики ИТ услуг в России, 2022
              a(href="#")
                | - Крупнейшие компании на российском рынке ИТ-аутсорсинга по итогам 2021, 2022 года
              a(href="#")
                | - Рейтинг российских компаний по тестированию ПО
          .main-progress__content(data-content="3")
            span.main-progress__content-title
              | Tadviser 3
            p.main-progress__content-text
              | Мировой лидер в сфере ИТ-исследований и консалтинга — включил бренд «Точка качества» в тройку лидеров рейтинга 10 лучшихмировых провайдеров услуг по тестированию, работающих в различных индустриях. Мы высоко ценим признание нашей компании одним из ведущих мировых аналитических агентств. Тестирование программного обеспечения — основное направление работы «Технологий качества», в области которого компания продолжает расширять свои компетенции.
          .main-progress__content(data-content="4")
            .main-progress__content-img-box
              +imgLazy('assets/images/main-progress/img-2.jpg')(class="main-progress__content-img")
            span.main-progress__content-title
              | Tadviser 4
            p.main-progress__content-text
              | Мировой лидер в сфере ИТ-исследований и консалтинга — включил бренд «Точка качества» в тройку лидеров рейтинга 10 лучшихмировых провайдеров услуг по тестированию, работающих в различных индустриях. Мы высоко ценим признание нашей компании одним из ведущих мировых аналитических агентств. Тестирование программного обеспечения — основное направление работы «Технологий качества», в области которого компания продолжает расширять свои компетенции.
          .main-progress__content(data-content="5")
            span.main-progress__content-title
              | Tadviser 5
            p.main-progress__content-text
              | Мировой лидер в сфере ИТ-исследований и консалтинга — включил бренд «Точка качества» в тройку лидеров рейтинга 10 лучшихмировых провайдеров услуг по тестированию, работающих в различных индустриях. Мы высоко ценим признание нашей компании одним из ведущих мировых аналитических агентств. Тестирование программного обеспечения — основное направление работы «Технологий качества», в области которого компания продолжает расширять свои компетенции.
          .main-progress__content(data-content="6")
            .main-progress__content-img-box
              +imgLazy('assets/images/main-progress/img-3.jpg')(class="main-progress__content-img")
            span.main-progress__content-title
              | Tadviser 6
            p.main-progress__content-text
              | Мировой лидер в сфере ИТ-исследований и консалтинга — включил бренд «Точка качества» в тройку лидеров рейтинга 10 лучшихмировых провайдеров услуг по тестированию, работающих в различных индустриях. Мы высоко ценим признание нашей компании одним из ведущих мировых аналитических агентств. Тестирование программного обеспечения — основное направление работы «Технологий качества», в области которого компания продолжает расширять свои компетенции.


