section.with-text-simple
  .site-container
    .with-text-simple__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          .with-text-simple__inner
            p
              | <a href="#">Функциональное</a> тестирование по праву можно считать самым важным видом тестирования ПО. Оно даёт полную информацию о состоянии продукта на текущий момент, а также подробное описание найденных дефектов и рекомендации, как их устранить.
            h2
              | Ключевое преимущество
            p
              | Функциональное тестирование — основной вид тестирования программного обеспечения. Оно на 100% покрывает сценарии использования продукта, заложенные в требованиях, что позволяет быстро выявить главные дефекты в работе ПО и предотвратить появление проблем в будущем. Такое тестирование следует проводить даже при отсутствии видимых проблем в работе продукта, чтобы гарантировать его дальнейшую правильную работу.
            p
              | Мы проводим тестирование настольных, мобильных и веб-приложений с учётом их специфики и требований заказчика.
