section.with-text-number
  .site-container
    .with-text-number__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
            .with-text-number__inner
              .with-text-number__text
                p
                  | «Точка качества» оказывает полный спектр услуг по независимому тестированию программных решений различного уровня сложности. Кроме того, специалисты компании предоставляют консультационные услуги по вопросам качества программного обеспечения, организации сопутствующих процессов и проводят комплексный аудит корпоративных информационных систем.
                p
                  | Наши специалисты отслеживают отраслевые тренды в области QA и разрабатывают инновационные решения задач по качеству, поддерживая непрерывный профессиональный рост сотрудников.
              .with-text-number__list-wrapper
                ul.with-text-number__list
                  li.with-text-number__list-item
                    .with-text-number__list-item-box
                      span.with-text-number__list-item-number
                        | >#[span 19]
                      .with-text-number__list-item-text
                        | Лет опыта <br> в тестировании ПО
                  li.with-text-number__list-item
                    .with-text-number__list-item-box
                      span.with-text-number__list-item-number
                        | >#[span 800]
                      .with-text-number__list-item-text
                        | Опытных Инженеров <br> по качеству ПО
                  li.with-text-number__list-item
                    .with-text-number__list-item-box
                      span.with-text-number__list-item-number
                        | >#[span 1500]
                      .with-text-number__list-item-text
                        | Протестированных <br> продуктов
                        p
                          | dewimfiwegi
                  li.with-text-number__list-item
                    .with-text-number__list-item-box
                      span.with-text-number__list-item-number
                        | >#[span 800]
                      .with-text-number__list-item-text
                        | Клиентов

