section.with-text-quote
  .site-container
    .with-text-quote__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.with-text-quote__title
            | #[span= "«Точка качества» "] всегда предоставляет подробную и ценную информацию о наших тестовых моделях
          .with-text-quote__inner
            p.with-text-quote__quote
              span
                | …Выделенная команда «Точка качества» подходит к выполнению задач со всей ответственностью. Они неоднократно шли нам навстречу и работали сверх нормы, если была такая необходимость. «Точка качества» всегда предоставляет подробную и ценную информацию о наших тестовых моделях. Мы очень довольны качеством проведённого тестирования
            +user-cards("assets/images/with-text/logo.png")
