section.with-text-digits
  .site-container
    .with-text-digits__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2
            | Результаты
          .with-text-digits__inner
            ul.with-text-digits__list
              li.with-text-digits__list-item
                span
                  | Повышение качества системы API и портала разработчиков, что способствует выпуску нового продукта, способного улучшить банковскую отрасль
              li.with-text-digits__list-item
                span
                  | Внедрены процессы контроля качества, которые помогли повысить прозрачность и эффективность проекта, ускорить время выхода на рынок и повысить прибыльность
            ul.with-text-digits__numbers
              li.with-text-digits__numbers-item
                span.with-text-digits__numbers-count
                  | 2
                .with-text-digits__numbers-text
                  | подпроекта
              li.with-text-digits__numbers-item
                span.with-text-digits__numbers-count
                  | 4
                .with-text-digits__numbers-text
                  | QA-специалиста
              li.with-text-digits__numbers-item
                span.with-text-digits__numbers-count
                  | 1
                .with-text-digits__numbers-text
                  | год сотрудничества <br> с клиентом



