section.with-text-ordinary
  .site-container
    .with-text-ordinary__wrapper
      .section-inner
        .section-inner__left
        .section-inner__right
          h2.with-text-ordinary__title
            | Взаимодействие с клиентом
          .with-text-ordinary__box
            .with-text-ordinary__box
              .with-text-ordinary__box-img-wrapper
                +imgLazy("assets/images/main-blogs/2.jpg", '')(class="with-text-ordinary__box-img")
              ul.with-text-ordinary__box-list
                li.with-text-ordinary__box-item
                  | Прозрачность процесса обеспечения качества
                li.with-text-ordinary__box-item
                  | Непрерывное измерение KPI
                li.with-text-ordinary__box-item
                  | Обмен только актуальной информацией
                li.with-text-ordinary__box-item
                  | Использование платформ для совместной работы для отслеживания коммуникации
                li.with-text-ordinary__box-item
                  | Плавная интеграция проекта
